@font-face{
    font-family: helveticaneue;
    src:url('../fonts/helveticaneue.ttf') format('TTF'),
        url('../fonts/helveticaneue.ttf') format('truetype');
}
@font-face{
    font-family: myriadpro-bold;
    src:url('../fonts/myriadpro-bold.ttf') format('TTF'),
        url('../fonts/myriadpro-bold.ttf') format('truetype');
}
@font-face{
    font-family: myriadpro-boldcond;
    src:url('../fonts/myriadpro-boldcond.ttf') format('TTF'),
        url('../fonts/myriadpro-boldcond.ttf') format('truetype');
}
@font-face{
    font-family: myriadpro-boldcondIt;
    src:url('../fonts/myriadpro-boldcondIt.ttf') format('TTF'),
        url('../fonts/myriadpro-boldcondIt.ttf') format('truetype');
}
@font-face{
    font-family: myriadpro-boldIt;
    src:url('../fonts/myriadpro-boldIt.ttf') format('TTF'),
        url('../fonts/myriadpro-boldIt.ttf') format('truetype');
}
@font-face{
    font-family: myriadpro-cond;
    src:url('../fonts/myriadpro-cond.ttf') format('TTF'),
        url('../fonts/myriadpro-cond.ttf') format('truetype');
}
@font-face{
    font-family: myriadpro-condIt;
    src:url('../fonts/myriadpro-condIt.ttf') format('TTF'),
        url('../fonts/myriadpro-condIt.ttf') format('truetype');
}
@font-face{
    font-family: myriadpro-It;
    src:url('../fonts/myriadpro-It.ttf') format('TTF'),
        url('../fonts/myriadpro-It.ttf') format('truetype');
}
@font-face{
    font-family: myriadpro-regular;
    src:url('../fonts/myriadpro-regular.ttf') format('TTF'),
        url('../fonts/myriadpro-regular.ttf') format('truetype');
}
@font-face{
    font-family: myriadpro-semibold;
    src:url('../fonts/myriadpro-semibold.ttf') format('TTF'),
        url('../fonts/myriadpro-semibold.ttf') format('truetype');
}
@font-face{
    font-family: myriadpro-semiboldIt;
    src:url('../fonts/myriadpro-semiboldIt.ttf') format('TTF'),
        url('../fonts/myriadpro-semiboldIt.ttf') format('truetype');
}

@media(min-width: 1200px){
	.container{
		width: 100%;
		max-width: 1300px;
	}
}
.top-bar p{
	font-family: myriadpro-bold;
	font-size: 14px;
	color: #c6c6c6;
	padding-top: 4px;
}
.top-bar h5{
	font-family: myriadpro-regular;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: inherit;
	color: #fff;
	font-size:18px;
	font-weight: normal;
}
.top-bar h5 strong{
	 text-transform: capitalize;
    font-size: 20px;

}
.top-bar ul.pull-left{
	padding-top: 0px;
	padding-left: 10px;
}
.top-bar ul{
	list-style: none;
	padding-left: 0;
}
.top-bar ul li {
	float: left;
}
.top-bar ul li a{
	color: #fff;
}
.top-bar ul.pull-left li a .fa:hover{
	border-color: #fff;
	color: #fff;
}
.top-bar ul.pull-left li a .fa{
	color: #b8b8b8;
    width: 25px;
    height: 25px;
    padding: 4.5px;
    border: 1px solid;
    border-radius: 100%;
    margin-right: 4px;
}
.top-bar ul.pull-right li a{
	font-size: 14px;
	font-family: myriadpro-regular;
	text-transform: uppercase;
	text-decoration: none;
}
.top-bar ul.pull-right li:first-child a .fa{
	padding:8px;
	vertical-align: middle;
}
.top-bar ul.pull-right li:last-child a img{
	margin-right: 10px;
}
.top-bar ul.pull-right li:last-child a{
	position: relative;
	z-index: 999;
}
.top-bar ul.pull-right li:last-child a .fa:hover{
	background:#1aa31e;
	transition: all 0.3s ease;
}
.top-bar ul.pull-right li:last-child a .fa{
	background: #2c2c2c;
	transition: all 0.3s ease;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 10px 7px 11px;
}
.top-bar ul.pull-right li a{
	padding: 10px 34px 4px 13px;
	display: block;
}
.top-bar ul.pull-right li:first-child a:hover{
	background-color: #1aa31e!important;
	transition: all 0.3s ease;
}
.top-bar ul.pull-right li a .fa{
	padding: 8px;
    vertical-align: middle;
}
.top-bar ul.pull-right{
	margin-top: -5px;
}
.top-bar ul.pull-right li:first-child a{
	 padding: 4px 20px 0px 10px;
    background: #2c2c2c;
    margin-right:0px;
    display: block;
    transition: all 0.3s ease;
}
.fa-user:before {
    content: url(../img/user-icon.png)!important;
}
.page-title-wrapper
{
	display: none !important;
} 
.panel.header
{
	padding: 0px !important;
}
.panel
{
	border: none !important;
}
.main_top{
    position: absolute; 
	left: 0;
	right: 0;
	margin: 0px auto;
	z-index: 9999;
	padding-top: 5px;
}

.navbar-inverse{
    background: transparent;
    border-color: transparent;
}
.navbar-inverse .navbar-nav>li>a:before{
	content: "";
	background-color:transparent;
	width: 0px;
	height: 1px;
	transition: all 0.3s ease;
	position: absolute;
	bottom: 5px;
}
.navbar-inverse .navbar-nav>li:last-child a:before{
	display: none;
}
.navbar-inverse .navbar-nav>li:last-child a:after{
	    content: "";
    position: absolute;
    left: 0;
    width: 1px;
    height: 18px;
    bottom: 10px;
    background: #8a8a8a;
}
.navbar-inverse .navbar-nav>li>a:hover:before{
	background-color: #fff;
	width: 30px;
	transition: all 0.3s ease;
}
.navbar-inverse .navbar-nav>.active>a:before{
	content: "";
	background-color:#fff;
	width: 30px;
	height: 1px;
	position: absolute;
	bottom: 5px;
}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff!important;
    transition: all 0.3s ease;
    background-color: transparent;
}
.navbar-nav>li>a{
	text-transform: uppercase;
	font-family: myriadpro-bold;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 10px 19px;
	transition: all 0.3s ease;
}
.navbar-inverse .navbar-nav>li>a{
	color: rgba(255, 255, 255, 0.5);
}
.navbar-right{
	padding-top: 17px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	width: 100%;
}
.navbar-wrapper{
	margin-top: 20px;
}
.top-carousel .carousel-indicators li:last-child:before{
	display: none;
}
.top-carousel .carousel-indicators li:before{
	    content: "";
    background: #fff;
    height: 1px;
    width: 33px;
    top: 6px;
    position: absolute;
    left: 13px;
}
.top-carousel .carousel-indicators li{
	 width: 14px;
    height: 14px;
    margin: 0 10px;
    z-index: 9999;
    position: relative;
    background-color: #fff;
    border-color: #fff;
    position: relative;
}
.top-carousel .carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 0 10px;
    background-color: #1aa31e;
    border-color: #1aa31e;
}
#myCarousel:before{ 
	content: "";
    background: url(../img/banner-before.png);
    position: absolute;
    bottom: 0;
    z-index: 9999;
    height: 160px;
    background-size: cover!important;
    width: 100%;
}
.carousel-caption h1{
	font-family: myriadpro-regular;
	color: #dedede;
	font-size: 42px;
}
.carousel-caption hr{
	color: #dedede;
	margin-top: 0px;
	width: 80%;
	float: left;
	display: block;
	margin-bottom:10px;
}
.carousel-caption p{
	font-size: 18px;
	font-family: myriadpro-regular;
	margin-bottom: 30px;
}
a.read-btn{
	color: #1aa31e;
    font-family: myriadpro-regular;
    font-size: 14px;
    letter-spacing: 2px;
    border: 1px solid #909090;
    padding: 16px 20px;
    display: block;
    width: 195px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.50);
    transition: all 0.3s ease;
    height: 53px;
}
a.read-btn:hover{
	opacity: 0.7;
	transition: all 0.3s ease;
}
a.read-btn .fa{
	padding-left: 40px;
}
.sec-back{
	background-color:#ffffff;
}
.sec-back .carousel-inner>.item{
	padding-bottom: 0px;
}
.feat-sec h2.tag-line span{
	color:#29a92d;
}
h2.tag-line{
	 font-family: helveticaneue;
	 color: #1b192a;
	 font-size: 32px;
	 letter-spacing: 2px;
	 margin-bottom: 70px;
	 position: relative;
	 margin-top: 0px;
	 text-transform: capitalize;
}
h2.tag-line span{
	font-weight: 700;
  	color:#1b192a;
}
h2.tag-line:before{
	position: absolute;
	content: url(../img/heading-before.png);
	left: 0;
	right: 0;
	bottom: -50px;
	margin: 0px auto;
}
.sec-back .row{
	margin-right: 0px;
	margin-left: 0px;
}
.sec-back .col-md-3{
	padding-left: 3px;
	padding-right:3px;
}
#carouselABC .col-md-3{
	padding-bottom: 20px;
}
.sec-back .col-md-3 .thumbnail{
	border-radius: 0px;
	border:1px solid #d9d9d9;
	padding: 10px 25px 30px;
	margin-bottom: 6px;
	overflow: hidden;
}
.sec-back .col-md-3 .thumbnail img{
	width: 228px;
	height: 158px;
	object-fit:cover;
}
h4.price-title{
	 font-family: FiraSans-Regular;
	 font-size: 22px;
	 color: #1aa31e;
	 font-weight: bold;
	 margin-bottom: 20px;
}
h4.title-name{
	color: #303030;
	font-family: Garamond-Premier-Pro-Semibold;
	text-decoration: none;
	 font-size: 22px;
	 margin-top: 20px;
	 position: relative;
}
h4.title-name:before{
	    content: "";
    background: #20a524;
    position: absolute;
    width: 50px;
    height: 1px;
    bottom: -3px;
}
.sec-back .col-md-3 a{
	text-decoration: none;
}
.sec-back .thumbnail p{
	color: #5a5a5a;
	font-family: Garamond-Premier-Pro-Semibold;
	font-size: 16px;
	line-height: 20px;
}
.back a.shp-btn{
	margin-top: 0px;
	background-color: #1aa31e;
}
.back a.auth-btn{
	margin-top: 0px;
	background-color: #323232;
	border: 1px solid #5b5b5b;
}
.back a.auth-btn:hover{
	border-color:#0abd10; 
}
a.shp-btn{
	text-decoration: none;
    font-family: myriadpro-bold;
    background:rgba(26, 163, 30, 0.31);
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 16px;
    height: 26px;
    margin-top: 20px;
    float: left;
    border-radius: 0px;
    transition: all 0.3s ease;
}
a.shp-btn:hover{
	background-color:rgba(26, 163, 30, 0.61);
	transition: all 0.3s ease;
}
a.auth-btn{
	text-decoration: none;
    font-family: myriadpro-bold;
    background:#323232;
    color: #0abd10;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 26px;
    height: 26px;
    margin-top: 20px;
    float: right;
    border-radius: 0px;
    transition: all 0.3s ease;
}
.content-div{
	padding-top: 10px;
	position: relative;
	transition: all 0.3s ease;
}
.content-div:before{
	    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.63); */
    width: 100%;
    height: 107px;
    content: "";
    background: url(../img/gradient.png);
    /* top: 0; */
    bottom: -5px;
    transition: all 0.3s ease;
    /* background-size: cover; */
    background-repeat: repeat-x;
}
.sec-back .thumbnail:hover .content-div:before{
	bottom: -100px;
	transition: all 0.3s ease;
}
.sec-back .thumbnail:hover .content-div{
	padding-top: 0px;
	padding-bottom: 10px;
	transition: all 0.3s ease;
}
.sec-back .carousel-control.left, .sec-back .carousel-control.right{
	background-image: none;
    background-image:none;
    background-image: none;
    background-image: none;
    filter: none;
    background-repeat: none;
}
.sec-back .glyphicon-chevron-left:before {
    content: url(../img/left-arrow.png);
    transition: all 0.3s ease;
    opacity: 0.7;
}
.glyphicon-chevron-right:before {
    content: url(../img/right-arrow.png);
    transition: all 0.3s ease;
    opacity: 0.7;
}
.sec-back .carousel-control{
	width: 0;
	opacity: 1;
}
.sec-back .carousel-control .glyphicon-chevron-left, 
.sec-back .carousel-control .glyphicon-chevron-right, 
.sec-back .carousel-control .icon-next, 
.sec-back  .carousel-control .icon-prev{
	margin-top: -20px;
    font-size: 36px;
    background: rgba(102, 102, 102, 0.52);
    border-radius: 100%;
    width: 60px;
    transition: all 0.3s ease;
    height: 60px;
  padding-top:6px;
  font-size-adjust:0.6;
}
.sec-back .carousel-control .glyphicon-chevron-left:hover{
	padding-right: 16px;
	opacity: 1;
	transition: all 0.3s ease;
}
.sec-back .carousel-control .glyphicon-chevron-right:hover{
	padding-left: 16px;
	opacity: 1;
	transition: all 0.3s ease;
}
.sec-back .carousel-control .glyphicon-chevron-left:hover,
.sec-back .carousel-control .glyphicon-chevron-right:hover{
	background: #666666;
	transition: all 0.3s ease;
}
a.see-btn{
	color: #303030;
	font-family:myriadpro-semibold;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 60px;
	display: inline-block;
	position: relative;
	transition: all 0.3s ease;
}
a.see-btn:hover{
   transition: all 0.3s ease;
   color: #1aa31e;
}
a.see-btn:before{
	    content: "";
    position: absolute;
    background: #1aa31e;
    width:100%;
    height: 1px;
    bottom: -6px;
}
.wlcm-div{
	background-color:#f6f6f6;
	padding-top: 50px;
}
.wlcm-2{
	background-color: #fff;
}
.feat-sec{
	padding: 50px 50px 0px;
	background-color: #f6f6f6;
}
.sec2{
	padding-top: 40px;
}
.feat-sec .feat-div img{
	border: 10px solid #fff;
	width: 100%;
	border-bottom:50px solid #fff;
}
.artist-content h2{
	font-family: myriadpro-regular;
	color: #000000;
	text-transform: capitalize;
	font-size: 32px;
	margin-top: 0px;
	margin-bottom:20px;
}
.artist-content{
	margin-top: -20px;
	transition: all 0.3s ease;
}
.artist-content p{
	color: #747474;
	font-size: 15px;
	margin-bottom:30px;
	font-family: myriadpro-regular;
}
.artist-content{
	padding-left: 40px;
}
a.read-btn-2{
	text-decoration: none;
    text-transform: uppercase;
    color: #313131;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    padding: 4px 20px;
    font-family: myriadpro-regular;
    border-radius: 0px;
    position: absolute;
    bottom: -36px;
    height: 26px;
    transition: all 0.3s ease;
}
.feat-div{
	position: relative;
	max-height: 450px;
	height: 418px;
}
.feat-div:before{
	border-top: 1px solid #d1d1d1;
    position: absolute;
    content: "";
    top: 26px;
    left: 25px;
    width: 96%;
    transition: all 0.3s ease;
    border-left: 1px solid #d1d1d1;
    height: 100%;
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}
.feat-div:hover .artist-content {
    margin-top: -41px;
    transition: all 0.3s ease;
}
.feat-div:hover a.read-btn-2{
	bottom: -10px;
}
.feat-div:hover a.read-btn-2{
	position: ;
	background-color:#1aa31e;
	color: #fff;
	border-color: #1aa31e;
	transition: all 0.3s ease;
}
.feat-div:hover .artist-content h2{
	color: #1aa31e;
}
.artist-content h2 .fa{
	vertical-align: middle;
    padding-left: 10px;
    font-size: 18px;
}
.feat-sec .col-md-4:nth-child(3){
	margin-top: 100px;
}
.welcm-content h1{
	font-size: 62px;
	font-family: myriadpro-bold;
	text-transform: uppercase;
	color: #989898;
	text-align: left;
	margin-top: -28px;
}
.wlcm-2 .welcm-content{
	background-color: #f6f6f6;
}
.wlcm-2 .welcm-content:before{
	background-color: #f6f6f6;
}
.welcm-content{
	background-color: #fff;
	margin-top: 70px;
	position: relative;
	padding: 0px 30px 50px;
}
.welcm-content:before{
	background-color: #ffffff;
    position: absolute;
    left: -446px;
    bottom: 0;
    content: "";
    width: 80%;
    height: 27px;
}
.pd-right{
	padding-right: 0px;
}
.wlcm-div{
	padding: 50px 100px;
}
.welcm-content hr{
	width:100%;
	border-color: #989898;
}
.welcm-content h2{
	color: #464646;
	font-size: 36px;
	line-height: 45px;
	font-family: myriadpro-bold;
	margin-bottom: 0px;
}
.wlcm-div .pd-right img{
	width: 100%;
}
.welcm-content p{
	color: #2a2a2a;
	font-family: myriadpro-regular;
	line-height: 20px;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.wlcm-2 a.read-wlcm{
	background-color: #f6f6f6
}
a.read-wlcm{
	color: #1aa31e;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
   font-family: myriadpro-regular;
    border: 1px solid #c4c4c4;
    padding: 17px 16px;
    height: 50px;
    width: 160px;
    letter-spacing: 1px;
    background-color: #fafafa;
    display: inline-block;
}
a.read-wlcm:hover{
	opacity: 0.7;	
}
a.read-wlcm .fa{
	padding-left: 20px;
}
.mg-top-wlcm{
	    margin-top: 50px;
    float: left;
    display: block;
    text-align: center;
    width: 100%;
}
.magzine-sec h2.tag-line{
	margin-top: 30px;
}
body.category .magzine-sec{
	background-color: #fff;
}
.magzine-sec{
	background-color: #f6f6f6;
	padding-bottom:50px;
}
.magzine-sec h2.tag-line span{
	color: #1aa31e;
}
.magazine-top{
	margin-top: 30px;
}
.footer{
	background:#2b2b2b; 
	padding: 30px 40px;
	background-repeat: no-repeat;
    background-size: cover;
}
.footer h6{
	color: #dedede;
	font-size: 14px;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-family: myriadpro-bold;
}
.footer ul{
	list-style: none;
	padding-left: 0px;
}
.footer ul li{
	line-height: 24px;
}
.footer p{
	color: #aaaaaa;
	font-size: 14px;
	font-family: myriadpro-regular;
}
.footer ul li a{
	color: #aaaaaa;
	font-size: 16px;
	text-decoration: none;
	font-family: myriadpro-regular;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.footer ul li a:hover{
	color:#1aa31e;
	transition: all 0.3s ease;
}
.footer ul li a .fa{	
    border: 1px solid;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
}
.footer ul li a .fa-facebook{
	padding: 6px 10px;
}
.footer ul li a .fa-instagram{
	padding: 6px 8px;
}
.footer ul li a .fa-twitter{
	padding: 6px 8px;
}
.footer ul li a .fa-google-plus{
	padding: 6px 7px;
}
ul.social li a .fa{
	width: 30px;
    height: 30px;
}
ul.social li{
	margin-bottom: 10px;
}
.footer .well{
	background-color: transparent;
	padding: 0px;
	border:none;
}
.footer .well .btn-group-lg>.btn, .footer .well .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 3px;
    margin-right: 6px;
    text-align: left;
}
.footer .well input.btn{
	width:57%;
	font-size: 10px;
	font-family: myriadpro-regular;
	box-shadow: none;
	color: #fff;
	background-color: #000;
	height: 35px;
	cursor: auto;
	border-radius:0px; 
}
.footer .well input:focus{
	outline: none;
}
.footer .well .btn-info{
	background-color: #1aa31e;
    border-color: #1aa31e;
    color: #fff;
    width: 88px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: myriadpro-regular;
    padding: 9px 7px 8px;
    border-radius: 0px;
    text-align: center;
    transition: all 0.3s ease;
    outline: none;
}
.footer .well .btn-info:hover{
	background-color: #000000;
	border-color:#000000;
	color: #fff;
	transition: all 0.3s ease;
}
.footer::-webkit-input-placeholder {
    font-size: 13px;
	font-family: Gotham Book;
	color: #5f5f5f;
}

.footer:-moz-placeholder { /* Firefox 18- */
  font-size: 13px;
	font-family: Gotham Book;
	color: #fff; 
}

.footer::-moz-placeholder {  /* Firefox 19+ */
   font-size: 13px;
	font-family: Gotham Book;
	color: #fff;
}

.footer:-ms-input-placeholder {  
  font-size: 13px;
	font-family: Gotham Book;
	color: #5f5f5f; 
}
.copyright{
	background-color:#191919;
	padding: 20px 40px;
}

.copyright p{
	font-size: 13px;
	color: #aaaaaa;
	margin-top: 7px;
	font-family: myriadpro-bold;
}
.footer-up{
	background-color: #313131;
	padding: 30px 40px;
	position: relative;
	padding-bottom: 70px;
}
.footer-up:before{
	position: absolute;
    content: "";
    background: url(../img/footer-before.png);
    background-size: cover;
    top: -65px;
    height: 82px;
    width: 100%;
    left: 0;
    z-index: 999;
}
.footer-up h6{
	color: #dedede;
	font-size: 16px;
	margin-bottom: 40px;
	position: relative;
	text-transform: uppercase;
	font-family: myriadpro-bold;
}
.footer-up h6:before{
	position: absolute;
	background-color: #808080;
	width: 50px;
	height: 1px;
	content: "";
	bottom: -15px;
}
.logos-section ul{
	padding-left: 0px;
}
.logos-section ul li{
	float: left;
	padding: 5px 5px 5px 0px; 
}
.logos-section a{
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	width: 100%;
	float: left;
	font-size: 12px;
	padding-top: 30px;
	font-family: myriadpro-regular;
	color: #949494;
	transition: all 0.3s ease;
}
.logos-section a .fa{
	padding-left: 30px;
}
.logos-section a:hover{
	color: #1aa31e;
	transition: all 0.3s ease;
}
.logos-section ul{
	list-style: none;
}
.logos-section.lg2 ul{
	list-style: none;
	padding-left:0px;
}
.logos-section ul li{
	color: #dedede;
	font-family: myriadpro-regular;
	font-size: 15px;
}
.lg-2 ul li:last-child{
	display: block!important;
	width: 100%;
}
.lg2 ul li:last-child{
	display: block!important;
	width: 100%;
}
.lg3 ul li{
	float: left;
	display: block;
	width: 100%;
}
.com-top .carousel-inner>.item>a>img, 
.com-top .carousel-inner>.item>img{
	width: 100%;
	height: 541px;
}
.cart-banner .carousel-inner>.item>a>img,
.cart-banner .carousel-inner>.item>img{
	width: 100%;
	height: 313px;
}
body.category{
	background-color: #f6f6f6;
}
body.category .sec-back{
    background-color: #f6f6f6;
}
/* .category .com-top:before {
	 background:url(../img/banner-before-inner.png)!important;
} */
.com-top:before {
    content: "";
    background:url(../img/banner-before-inner.png)!important;
    position: absolute;
    bottom: 0;
    z-index: 9999;
    height: 126px;
    background-size: cover;
    width: 100%;
    transform: rotateY(180deg);
}
.com-top .carousel-caption h1 {
    font-family: myriadpro-regular;
    font-size: 36px;
    text-align: center;
    color: #fff;
    line-height: 47px;
    letter-spacing: 1px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #1b1b1b;
    text-decoration: none;
    background-color: #fff;
    font-family: myriadpro-regular;
    border: 1px solid transparent;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #1aa31e!important;
    background-color:#fff;
    border-color: #1aa31e;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 5px;
    background: #303030;
    color: #a9a9a9;
    text-transform: uppercase;
    padding: 6px 15px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 5px;
    background: #303030;
    color: #a9a9a9;
    text-transform: uppercase;
    padding: 6px 15px;
}
.pagination>li:nth-child(2)>a, .pagination>li:nth-last-child(2)>a{
	background: #303030;
	color: #a9a9a9;
	border-color:#fff;
}
.pagination{
	border-radius: 0px;
	margin:0px 0px 20px;
}
.filter-category .form-group {
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top: 5px;
    display: inline-block;
}
.filter-category .form-group label{
	color: #4c4b4d;
	font-family: myriadpro-bold;
	font-size: 16px;
	font-weight: normal;
}
.filter-category .form-group select{
	width: 170px;
    height: 30px;
    border: none;
    outline: none;
    color: #4c4b4d;
	font-family: myriadpro-regular;
	font-size: 16px;
	margin-left: 2px;
	padding-left: 8px;
	text-transform: capitalize;

	background-image: url(../img/select-down.jpg);
    background-size: 5%;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    background-repeat: no-repeat;
    background-position: 93%;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    margin-top: -88px;
    z-index: 9999;
    font-family: myriadpro-regular;
    text-transform: uppercase;
    font-size: 13px;
}
.breadcrumb p{
	color: #1d1d1d;
}
.breadcrumb  a{
	padding-right:3px;
	color: #adadad;
	font-family: myriadpro-regular;
}
.breadcrumb  a:last-child{
	padding-left: 5px;
	color: #1d1d1d;
}
.breadcrumb:before{
	background:#1aa31e;
	width: 50px;
	height: 1px;
	content: "";
	position: absolute;
	top: -7px;
}
.paging-top{
	margin-top: 40px;
}
.cart-sec h2.tag-line span{
	color: #1aa31e;
}
.cart-sec h2.tag-line:before{
	display: none;
}
.cart-sec h2.tag-line{
	margin-bottom: 10px;
}
.cart-table{
	margin-bottom: 150px;
}
h1.tag-inner{
	color: #000;
	font-size: 32px;
	 font-family: myriadpro-bold;
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 40px;
	margin-bottom: 40px;	
}
.cart-table table{
	width: 100%;
}
.cart-table table tr th:first-child{
	background: transparent;
}
.cart-table table tr th{
	text-align: center;
	background:#424242;
	color: #e3e3e3;
	font-family: myriadpro-regular;
	font-size: 22px;
	border-right: 1px solid;
	font-weight: 100;
    padding: 12px;
}
.cart-table table tr:last-child{
	background: transparent!important;
}
.cart-table table tr:last-child td{
	text-align: right!important;
	font-family: myriadpro-bold!important;
	color: #3f3f3f!important;
	margin-top: 40px;
}
.cart-table table tr:last-child td span{
	padding-left: 40px;
	font-family: myriadpro-bold;
}
.cart-table table tr:last-child td p{
	font-family: myriadpro-bold;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.cart-table table tr:last-child td{
	border-top: 1px solid #b2b2b2;
}
.cart-table table tr td{
	text-align: center;
	padding: 20px;
}
.cart-table table tr td:first-child{
	text-align: left;
	width: 60%;
}
.cart-table table tr td input{
	text-align: center;
	width: 100px;
	height: 40px;
	border:none;
	box-shadow: none;
	font-size: 22px;
	 font-family: myriadpro-bold!important;
	color: #747474;
	outline: none;
}
.cart-table table tr td:nth-child(2){
	color:#1aa31e;
	font-size: 22px;
	font-family: myriadpro-bold;
}
.cart-table table tr td:last-child{
    color: #3f3f3f;
	font-size: 22px;
	position: relative;
	font-family: myriadpro-bold;
}
.cart-table table tr:nth-child(2n+2){
	background:#f4f4f4;
	border-bottom: 1px solid #fff;
}
.cart-table table tr:nth-child(2n+3){
    background:#f8f8f8;
    border-bottom: 1px solid #fff;
}
.cart-img{
	width: 180px;
	height: 135px;
	padding: 4px;
	border: 1px solid #dbdbdb;
	overflow: hidden;
	float: left;
	display: inline-block;
}
.cart-img img{
	width: 100%;
	height:125px;
	margin: 0px auto;
}
.cart-content-table{
	float: left;
	display: inline-block;
	margin-left: 20px;
	width: 50%;
}
.cart-content-table h4 a{
	color: #000000;
	font-size: 22px;
	 font-family: myriadpro-bold;
	width: 231px;
	margin-top: 0px;
  	text-decoration:none;
    transition: all 0.3s ease;
}
.cart-content-table h4 a:hover{color:#1aa31e;transition: all 0.3s ease;}
.cart-content-table p{
	color: #000;
	font-family: myriadpro-bold;
}
.cart-content-table p span{
	color: #1aa31e;
	font-size: 16px;
	font-weight: bold;
}
.cart-content-table h5{
	color: #1aa31e;
	font-family: myriadpro-bold;
	font-size: 16px;
	text-transform: capitalize;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

a.remove-cart:hover:before{
	background:#424242;
	transition: all 0.3s ease;
}
a.remove-cart:before{
	position: absolute;
    content: "x";
    top: 13px;
    right: 14px;
    background: #1aa31e;
    width: 25px;
    height: 24px;
    color: #fff;
    font-size: 17px;
    padding-top: 1px;
    padding-left: 1px;
    border-radius: 100%;
    transition: all 0.3s ease;
}
.cart-table{
	background: #fff;
}
.grey-col{
	background-color: #f6f6f6;
}
.cmm-btn{
	font-size: 14px!important;
	width:170px!important;
	background-color:#1aa31e;
	transition: all 0.3s ease;
	color: #fff!important;
	border:1px solid!important;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.cmm-btn:hover{
	background-color:transparent;
	color: #000!important;
	border:1px solid ;
	transition: all 0.3s ease;
}

.cmm-btn{
	text-decoration: none;
    padding: 10px;
    width: 170px;
    display: inline-block;
    height: 40px;
    font-family: myriadpro-bold!important;
    vertical-align: top;
    text-align: center;
    background-color: #000;
    transition: all 0.3s ease;
}
.slider-content{
	background:url(../img/carousels-background.jpg);
	background-size: cover;
	background-position: center;
	height:431px;
	margin-top:0px; 
	margin-bottom: 30px;
	color: #fff;
}
blockquote{
	border-left: none;
	padding-top: 9%;
}
blockquote h3{
	font-size: 36px;
	font-family: myriadpro-regular;
	font-weight: normal;
	letter-spacing: 2px;
}
blockquote p{
	    font-size: 16.5px;
    font-family: myriadpro-regular;
}
blockquote hr{
	border-top: 1px solid #8d8e88;
	width:50%;
}
blockquote a{
	color: #adadad;
	font-family: myriadpro-regular;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	background: #000000;
    padding: 8px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}
blockquote a:hover{
	text-decoration: none;
	color: #adadad;
	opacity: 0.7;
	transition: all 0.3s ease;
}
.search-bar{
	background: rgba(56, 56, 56, 0.47);
    padding: 8px;
    position: absolute;
    left: -370px;
    opacity: 0;
    border:1px solid #656565;
}
.search-bar input{
	width: 400px;
	padding-left: 15px;
	font-size: 14px;
	height: 29px;
	background-color: #efefef;
	box-shadow: none;
	border: none;
	color: #717171;
	font-family: myriadpro-regular;
}
.btn-go{
	position: absolute;
    top: 10px;
    right: 18px;
}
.search-bar .fa{
	vertical-align:middle;
	color: #717171;
}
.search-bar .fa-arrow-right:before {
    content: url(../img/img-right.png);
}
.search-bar a:after {
    left: -18px!important;
    content: "";
    position: absolute;
    /* left: 0; */
    width: 1px;
    height: 30px;
    /* margin-left: -21px; */
    bottom: 0px!important;
    background: #8a8a8a;
}
.slider-right h2{
	color: #363636;
  font-size:22px;
	font-family: myriadpro-bold;
}
.slider-right p{
	color: #616161;
	font-family: myriadpro-regular;
	margin-bottom: 25px;
	padding-right: 30px;
}
.slider-right hr.first{
	width: 25%;
}
.slider-right hr{
	border-color: #c5c5c5;
	width:95%;
	margin-left: 1px;
	display: block;
}
.slider-right h4{
	font-family: myriadpro-bold;
	color: #1aa31e;
}
.slider-right select{
	color: #4f4f4f;
	width: 230px;
	height: 35px;
	padding-left: 10px;
	border: none;
	-webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
	text-transform: capitalize;
	background-color: #dedede;
	box-shadow: none;
	outline: none;
	font-family: myriadpro-bold;
	background-image: url(../img/select-down.png);
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: 94%;
}
.slider-right select option{
	background-color: #fff;
	border: none;
	outline: none;
}
.slider-right h3{
	font-family: myriadpro-bold;
	color: #1aa31e;
	margin-top: 10px;
	display: inline-block;
}
.slider-right input.text-right{
	float: right;
    font-family: myriadpro-bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: #1aa31e;
    border: none;
    margin-right: 30px;
    display: inline-block;
    height: 40px;
    font-size: 13px;
    letter-spacing: 1px;
    padding-top: 5px;
    width: 150px;
    transition: all 0.3s ease;
}
.slider-right input.text-right:hover{
	background-color:#363636;
	transition: all 0.3s ease;
}
.tabs-common{
	padding-bottom: 50px;
	background-color: #fff;
	padding-top: 20px;
}
.tabs-common .tab-content{
	padding: 0px 50px;
}
.tabs-common .nav-tabs {
    border-bottom: none;
    margin: 20px auto;
    text-align: center;
}
.tabs-common .nav-tabs>li {
    float: none;
    margin-bottom: -1px;
    font-family: myriadpro-bold;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
}
.tabs-common .nav-tabs>li a{
	color: #818181;
	margin-right: 25px;
	border: none;
}
.tabs-common .nav-tabs>li a:before{
	content: "";
    position: absolute;
    background: url(../img/tab-grey.png);
    width: 9px;
    height: 41px;
    left: 0;
    top: 1px;
    opacity: 0;
}
.tabs-common .nav-tabs>li a:after{
	content: "";
    position: absolute;
    background: url(../img/tab-grey2.png);
    width: 8px;
    height: 41px;
    right: 0;
    opacity: 0;
    top: 1px;
}
.tabs-common .nav-tabs>li>a:hover:before{
	content: "";
    position: absolute;
    background: url(../img/tab-grey.png);
    width:7px;
    height: 41px;
    left: 1px;
    opacity: 1;
    top: 1px;
}
.tabs-common .nav-tabs>li>a:hover:after{
	content: "";
    position: absolute;
    background: url(../img/tab-grey2.png);
    width:7px;
    height: 41px;
    right: 1px;
    opacity: 1;
    top: 1px;
}
.tabs-common .nav-tabs>li>a:hover {
    border-color: transparent;
    color: #818181;
    background-color: transparent;
}
.tabs-common .nav-tabs>li.active>a, 
.tabs-common .nav-tabs>li.active>a:focus, 
.tabs-common .nav-tabs>li.active>a:hover{
	border:none;
	color: #1aa31e;
	background-color: transparent;
}
.tabs-common .tabbable-line p{
	color: #3f3e3e;
	font-family: myriadpro-regular;
	font-size: 16px;
	margin-bottom: 25px;
}
.tabs-common .tabbable-line p span{
	font-weight: bold;
}
.tabs-common .nav-tabs>li.active>a:after{
    content: "";
    position: absolute;
    background: url(../img/tab-green2.png);
    width:7px;
    height: 41px;
    right: 1px;
    opacity: 1;
    top: 1px;
}
.tabs-common .nav-tabs>li.active>a:before{
    content: "";
    position: absolute;
    background: url(../img/tab-green.png);
    width:7px;
    height: 41px;
    left: 1px;
    top: 1px;
    opacity: 1;
}

body.grey-col .sec-back{
	padding-top: 20px;
	background: #f6f6f6;
}
body.grey-col .sec-back.sec2{
	background: #fff;
}
.cart-empty{
  margin-bottom:100px;
  text-align:center;
  font-family: myriadpro-regular;
}
.cart-empty a{
    color: #1aa31e;
    text-decoration: none;
    text-transform: capitalize;
    font-family: myriadpro-bold;
    font-size:20px;
    transition: all 0.3s ease;
}
.cart-empty a:hover{
	transition: all 0.3s ease;
  	color:#333339;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #1aa31e;
    cursor: default;
    background-color: white;
    border-color: #27a34d;
}
li.disabled span{
       background: #303030!important;
    color: #a9a9a9!important;
    border-color: #303030!important;
}







 /*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
   /* background: #9e5406;*/
}

figure.effect-bubba img {
    transition: all 0.5s ease;
   /* opacity: 0.7;*/
   /* -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;*/
}

figure.effect-bubba:hover img {
   /* opacity: 0.4;*/
   transition: all 0.5s ease;
   transform:scale(1.15);
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #8e989b;
    border-bottom: 1px solid #8e989b;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

/*figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}*/

figure.effect-bubba h2 {
     font-family: 'open_sansbold';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
    padding: 0px;
    text-align: left;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.grid {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

/* Common style */
.gd2 figure {
     max-height:208px!important;
    min-width: 99%!important;
    max-width: 99%!important;
}
.gd3 figure {
    width:50%!important;
    max-width:49%!important;
    min-width:49%!important;
    height: 400px!important;
}
.gd4 figure {
    background: #10beb8;
       width: 47%!important;
    max-width: 47%!important;
    min-width: 47%!important;
    height: 197px!important;
    margin-right: 0!important;
}
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 2px 2px;
    min-width: 100%;
    max-width: 100%;
    max-height: 420px;
    width:100%;
   /* background: #3085a3;*/
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
     height: 200px;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.cont-inner a{
	color:#fff;
	text-decoration:none;
}
.grid figure  h2 {
        text-transform: initial;
    word-spacing: -0.15em;
    font-weight: 300;
    font-size: 26px!important;
    text-align: left;
        text-shadow: 2px 2px 2px #000;
    font-size: 27px;
    letter-spacing: 3px;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
     font-family: myriadpro-bold;
    font-size: 20px!important;
    padding-left: 7%;
    text-shadow:none;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 14px!important;
    margin-top: 10px;
   font-family: myriadpro-regular;
     text-shadow: none;
    webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.cont-inner{
    position: absolute;
    bottom:10%;
    width: 99.6%;
     padding:40px 0px;
    left: 0;
    background: rgba(4, 4, 4, 0.12);
}
.gd2 .cont-inner{
        position: absolute;
    bottom: -1%;
    width: 80%;
    padding: 40px 0px;
    left: 0;
    background: transparent;
    margin: 0px auto;
    display: block;
    right: 0;
}
.magzine-sec .pd-left{
	padding-left: 0px;
	padding-right: 4px;
}
.gd3 figure.effect-bubba figcaption::before {
    display: none;
}
.gd2 figure.effect-bubba figcaption::after {
    border-right: 1px solid #8e989b;
    border-left: 1px solid #8e989b;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}
.gd2 figure.effect-bubba:hover figcaption::before,
.gd2 figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.gd4 .cont-inner{
    background: transparent;
    bottom: 22%;
}
.gd4 .cont-inner h2{
    text-align: center;
    color: #000;
    text-transform: uppercase;
    text-shadow:none;
    padding-left: 0px;
}
.grid.gd4  figure figcaption {
    padding: 10px;
}

.gd4 figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}
.gd4 figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.gd4 figure.effect-bubba:hover figcaption::before,
.gd4 figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.gd4 figure.effect-bubba figcaption::before,
.gd4 figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 10px;
    bottom: 30px;
    left: 10px;
    content: '';
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}     















@media(max-width:992px){
  .fl .text-right{
  	text-align:center;
    margin-top:10px;
  }
  .fl .text-right ul{
  	margin-bottom:0px;
  }
  .filter-category{
  	text-align:center;
  }
}

@media(min-width: 767px){

.pd-right{

	padding-right: 0px;

}

}

@media screen and (min-width: 768px){
	.logo{
		margin:0px !important;
	}
.carousel-caption {

    right: 20%!important;

    bottom: 99px!important;

    left: 20%!important;

    text-align: left!important;

    padding-bottom: 30px;

}

.com-top .carousel-caption {

    right: 26%!important;

    bottom: 135px!important;

    left: 26%!important;

    text-align: left!important;

    padding-bottom: 30px;

}

.carousel-indicators {

    bottom: 73px;

    left: 26%;

    z-index: 9999;

}

.slider-content .carousel-indicators {

    bottom: -15px;

    left: 0;

    z-index: 9999;

    margin: 0px auto;

    right: 0;

}

}





@media(max-width: 767px){
  .copyright .text-right{
  	text-align:center;
  }
	.flip-container, .front, .back{

		width: 300px!important;

		margin: 0px auto;

	}

	.copyright img{

		margin: 0px auto;

		left: 0;

		right: 0;

		display: block;

	}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {

    border-color: transparent;

    box-shadow: none;

}

	.top-bar ul{

    float: none!important;

    margin: 0px auto;

	}

	.top-bar ul li {

    float: none;

    display: inline-block;

    }

	.carousel-indicators {

    bottom: 0!important;

    }

   .navbar-inverse .navbar-toggle .icon-bar {

     background-color: #1aa31e;

    }

	.navbar-toggle{

		margin-top: 21px;

	}

	.navbar-inverse .navbar-toggle {

    border-color: transparent;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {

    background-color: transparent;

}

.sec-back .col-md-3 .thumbnail{

	width: 300px;

	margin: 10px auto;

}

.content-div:before{

	display: none;

}

.wlcm-div {

    padding:30px 10px;

}

.welcm-content h1{

	font-size: 30px;

}

.welcm-content h2{
	line-height: 20px!important;
	font-size: 16px;

}

.feat-sec{

	padding: 16px;

}

.feat-sec .col-md-4:nth-child(3) {

    margin-top: 50px;

}

.feat-sec .col-md-4{

	margin-top: 50px;

}

.feat-div:before{

	left: 0;

	width: 100%;
  top:0;
  height:117%;

}

.artist-content {

    padding-left: 17px;

}

h2.tag-line:before{

	content: "";

    background: url(../img/heading-before.png);

    width: 100%;

    height: 23px;

    background-position: center;

    background-repeat: no-repeat;

}

.welcm-content:before{

	display: none;

}

.welcm-content h1{

	margin-top: 10px;

}

.welcm-content {

    background-color: #fff;

    margin-top: 0px;

    position: relative;

    padding: 7px 30px 10px;

}

.feat-div{

	width: 300px;

	height: auto;

	margin: 0px auto;

}

.feat-div:hover a.read-btn-2 {

    bottom: -34px;

}

.welcm-content p{

	font-size: 13px;

}

.carousel-caption{

	display: none;

}

.carousel-inner>.item>a>img, .carousel-inner>.item>img{

	height: 300px;

}
.com-top .carousel-inner>.item>a>img, .com-top .carousel-inner>.item>img{

	height:150px!important;

}
#myCarousel:before{

	display: none;

}

#myCarousel{

	height: 300px;

}
body.category #myCarousel {
    height: 180px;
}
body.grey-col #myCarousel {
    height: 180px;
}
h2.tag-line{

	margin-top: 20px;

	font-size: 25px;

}

.footer-up,.footer{

	padding: 20px 10px;

}

.footer-up .col-xs-12,

.footer .col-xs-12{

	margin-bottom: 20px;

}

.navbar-collapse.collapse {

    display: block;

}

.mbl-menu-final{

	 position: fixed;

    background: rgba(0, 0, 0, 0.87);

    width: 100%;

    right: -100%;

    height: 100%;

    top: 0;

    overflow: hidden;

    overflow-y: scroll;

    z-index: 9999;

    border-left: 2px solid #1aa31e;

}

.main{

	background: rgba(0, 0, 0, 0.57);

}

.nav>li{

	border-bottom: 1px solid #1aa31e;

}

.nav>li:first-child a:before{

display: none;

}

.nav>li:last-child{

	display: none;

	border-bottom: none;

}

.nav>li:nth-last-child(2){

	border-bottom: none;

}

.navbar-nav>li>a{

	padding: 22px 19px;

}

.navbar-right{

	padding-left: 15px;

}

.magzine-sec .pd-left {

    padding-left: 10px;

    padding-right: 10px;

}

.gd3 figure {

    width: 50%!important;

    max-width: 48%!important;

    min-width: 48%!important;

    height: 400px!important;

}

.grid figure{

	max-width: 100%!important;

    min-width: 100%!important;

}
body.blog .grid.gd2 figure{
	max-width: 100%!important;	
    min-width: 100%!important;
}
  .grid figure img{
  	width:100%;
  }
.magzine-sec .row{

	margin: 0px auto;

}
  .filter-category .form-group label{
  	width:85px;
  }

}

@media(max-width:480px){
.flip-container, .front, .back {
    width: 100%!important;
}
  .pagination>li>a, .pagination>li>span{
      padding: 4px 7px;
        font-size: 11px;
  }
  .pagination>li:first-child>a, .pagination>li:first-child>span{
    padding: 4px 10px;
  }
  .pagination>li:last-child>a, .pagination>li:last-child>span{
  	padding: 4px 10px;
  }
}
@media(min-width: 768px) and (max-width: 992px){

	.welcm-content:before{

		display: none;

	}

	.welcm-content hr{

		margin-top: 10px;

	}

	.grid figure h2, .grid figure p{

		font-size: 12px!important;

	}

}
@media(min-width:850px) and (max-width:992px){
.grid.gd3 figure{

		height: 144px!important;
        max-width: 47%!important;
        min-width: 47%!important;

	}
}
@media(min-width:767px) and (max-width:850px){
.grid.gd3 figure{

		height: 134px!important;
        max-width: 47%!important;
        min-width: 47%!important;

	}
}
@media(max-width: 1024px){
.back{
	display: none;
}
.front img{
	opacity: 1!important;
}
a.shp-btn{
	background: #1aa31e;
}
a.auth-btn:hover{
	background: rgba(50, 50, 50, 0.73);
}
}
@media(min-width: 768px) and (max-width: 1024px){

	.navbar-wrapper {

    margin-top: 1px;

 }

 .wlcm-div{

 	padding: 50px 10px;

 }

	.navbar-nav>li>a {

    text-transform: uppercase;

    font-family: myriadpro-bold;

    font-size: 11px;

    letter-spacing: 1px;

    padding: 9px 12px;

}

.sec-back .col-md-3 .thumbnail img {

    width: 228px;

    height: 90px;

    object-fit: cover;

    min-height: 82px;

}

.sec-back .col-md-3 .thumbnail{

	padding: 10px 15px 20px;

}

.content-div:before{

	display: none;

}

.carousel-caption{

	display: none;

}

.top-bar p {

    font-size: 9px;

}

.top-bar h5{

	font-size: 9px;

	padding-top: 4px;

}

.top-bar h5 strong {

    text-transform: uppercase;

    font-size: 14px;

}

.top-bar ul.pull-left li a .fa {

    color: #b8b8b8;

    width: 20px;

    height: 20px;

    padding: 3.5px;

    font-size: 11px;

    border: 1px solid;

    border-radius: 100%;

    margin-right: 4px;

}

.top-bar ul.pull-right li:first-child a {

    padding: 4px 12px 4px 3px;

    margin-right:2px;

}

.top-bar ul.pull-right li a {

    font-size: 9px;

}

ul.pull-left{

	display: none;

}

.footer-up,.footer{

	padding: 20px 10px;

}

.logos-section ul li{

	font-size: 10px;

}

.logos-section a{

	font-size: 10px;

}

.logos-section a .fa {

    padding-left: 16px;

}

.footer h6{

	margin-bottom: 20px;

	margin-top: 20px;

}

.welcm-content{

	margin-top: 20px;

}

.welcm-content h1{

	margin-top: 10px;

}

.feat-div:before{

	left: 0;

	top: 0;

	width: 100%;

}

.feat-div{

	height: 320px;

	overflow: hidden;

}

.read-btn-2 {

    bottom: 18px!important;

}

.artist-content {

    padding-left: 12px;

    padding-right:5px;

}

.artist-content h2{

	font-size: 23px;

}

.feat-sec .feat-div img{

	border-bottom: 33px solid #ffffff;

}

.artist-content {

    margin-top: -28px;

}

.feat-div:hover .artist-content {

    margin-top: -28px;

}

.feat-sec .col-md-4:nth-child(3) {

    margin-top: 50px;

}

.mg-top-wlcm{

	margin-top: 20px;

}

}





@media(min-width: 850px) and (max-width: 992px){

.container{

	width: 800px

}

}





@media(min-width: 992px) and (max-width: 1200px){

.welcm-content:before{

	    left: -76%;

}

.welcm-content h1{

	font-size: 30px;

}

.welcm-content h2{

	font-size: 22px;

}

.welcm-content p{

	font-size: 12px;

	margin-top: 10px;

	margin-bottom: 10px;

}

.welcm-content hr{

	margin-top: 10px;

}

.welcm-content{

	padding: 0px 30px 25px;

}

.footer .well input.btn{

	width: 100%;

	margin-bottom: 10px;

}

}





@media(max-width: 1300px){

.carousel-caption h1{

	font-size: 30px;

}

.carousel-caption p{

	font-size: 13px;

}

.carousel-caption hr{

	width: 50%;

}

}

@media(max-width: 1200px){

ul.pull-left{

	display: none;

}

.top-bar p{

	font-size: 10px;

}

.carousel-caption{

	bottom: 98px!important;

}

.carousel-indicators{

	bottom: 80px;

}

.navbar-wrapper {

    margin-top: 2px;

}

}

@media(max-width: 360px){

.flip-container, .front, .back{

	width: 260px!important;

	height: auto;

}
.feat-div {
    width: 100%;
}
}
@media(max-width:1200px){
  .breadcrumb{
  	margin-top:0px;
  }
}


@media(min-width:768px) and (max-width: 1200px){

.flip-container, .front, .back{

	height: 250px!important;

}

.front img {

    max-height: 120px!important;

}

.back img {

    max-height:80px!important;

}

h3.title-name{

	font-size: 12px!important;

}

h3.price{

	font-size: 14px!important;

}

.cart-description {

    padding-left: 5px!important;

    padding-right: 5px!important;

}

.back p{

	font-size: 12px!important;

}

a.shp-btn{

	padding: 7px 5px!important;

	font-size: 10px;

}

a.auth-btn{

	padding: 7px 5px!important;

	font-size: 10px;

}

}







/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	/*.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}*/

.flip-container, .front, .back {
	width: 100%;
	height: 340px;
	padding-top: 20px;
	margin-bottom:4px;
}
.fl .col-md-3{
    padding-left: 3px;
    padding-right: 3px;
}
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	height: 340px;
	overflow: hidden;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
/*	backface-visibility: hidden;*/
	border: 1px solid #d1d1d1;
/*	position: absolute;
	top: 0;
	left: 0;
	text-alig*/n: center;
	padding:10px 4px;
}
.back{
	background-color:#323232;

}
.front img{
	max-height:206px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    opacity: 1;
	transition: all 0.5s ease;	
}
.back img{
	max-height:170px;
    display: block;
    margin: 0 auto;
    max-width: 100%;	
}
/* front pane, placed above back */
.flipper:hover .back{
	top: 0;
	transition: all 0.5s ease;
}

.flipper:hover .front img{
	opacity: 0;
	transition: all 0.5s ease;
}
.front {
	z-index: 2;
	/* for firefox 31 */
	background-color: #fff;
	transform: rotateY(0deg);
	height: 340px;
}

/* back, initially hidden pane */
.back {
	/*transform: rotateY(180deg);*/
	position: absolute;
    top:340px;
  z-index:999;
    transition: all 0.5s ease;
}
.cart-description{
	padding-left:14px;
	padding-right: 14px;
}
.back h3.title-name{
	color: #fff!important;
}
.back h3.title-name:before{
	background-color: #fff;
}
.back p{
	font-family: myriadpro-regular;
	color: #dcdcdc;
	font-size: 14px;
	text-align: left;
	margin-top:7px;
}
h3.title-name{
	font-family: myriadpro-bold;
	color: #303030;
	text-align: left;
	display: inline-block;
	float: left;
	text-transform:capitalize;
	font-size: 22px;
	font-weight: normal;
	position: relative;
}
h3.title-name:before{
	background-color: #1aa31e;
	content:"";
	position: absolute;
	left: 0;
	width:50px;
	height: 1px;
	bottom: -10px;
}
h3.price{
	float: right;
	display: inline-block;
	color: #1aa31e;
  font-size:22px;
	font-family: myriadpro-bold;
}


.carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
  margin-left:-25px;
}
.carousel-showmanymoveone .carousel-control.right {
  margin-right: -25px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
#carouselABC2 .carousel-inner{
	padding-bottom: 20px;
}
@media all and (min-width: 768px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showmanymoveone .carousel-inner > .active.left,
  .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  .carousel-showmanymoveone .carousel-inner > .active.right,
  .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}




body.artist .sli-two{
	background-color: #fff;
}
body.artist .tabs-common{
   background-color: #f6f6f6;
}
.sli-two{
	padding-top: 50px;
	padding-bottom: 50px;
}
body.artist .sec-back{
   background-color: #f6f6f6;
   padding-top: 50px;
}
body.artist .sec2{
	background-color: #fff;
}
.sold-out p{
	font-weight: bold;
	margin-bottom: 15px;
}
.sold-out hr{
	margin-bottom: 10px;
}
.sl-two .input-group {
    margin:0px auto;
    width: 100%;
}
.sl-two input.btn.btn-lg,
.sl-two input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 50px;
    text-align: left;
    border-radius: 0;
    background-color: #f4f4f4;
    color: #8f8f8f;
    font-size: 14px;
    font-family: myriadpro-regular;
    box-shadow: none;
}
.sl-two button.btn {
    width: 35%;
    height: 50px;
    border-radius: 0;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background: #1aa31e;
    border-color: transparent;
        transition: all 0.3s ease;
}
.sl-two button.btn:hover{
	background-color: #000;
	    transition: all 0.3s ease;
}
.sl-two .promise {
    color: #999;
}
.sl-two .well{
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0px;
}
.sli-two .demo:before{
	width: 50px;
	background-color: #fff;
}
.sli-two .demo:after{
	background-color: #fff;
}
.sli-two .lslide img {
    border: 10px solid #fff;
}

/****Blog-css****/
body.blog .carousel-caption p{
	opacity: 0;
}
body.blog .carousel-caption hr{
	opacity: 0;
}
body.blog .magzine-sec{
	padding-bottom: 0px;
}
body.blog .magzine-sec .pd-left {
    padding-left: 0px;
    padding-right: 0px;
}
body.blog .gd3 figure{
	    width: 50%!important;
    max-width:49%!important;
    min-width:49%!important;
    height: 400px!important;
}
body.blog .gd3 figure img{
	width: 100%;
}
body.blog .grid figure{
	margin: 2px 3px;
}
body.blog .magzine-sec{
	background-color: #fff;
}
body.blog h2.tag-line span{
	color: #1aa31e;
}
body.blog .sec2 {
    background: #f6f6f6;
}
.single-magzine {
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}
.single-magzine .cont-inner{
	background-color: transparent;
}
.single-magzine .col-md-3{
	padding-left: 2px;
	padding-right: 2px;
}
.touch-section{
	background-color: #f6f6f6;
	padding-top: 50px;
	padding-bottom: 50px;
}
.touch-section h2.tag-line{
	color: #1aa31e;
	font-weight: bold;
	text-transform:inherit;
}
.touch-section h3{
	color: #1b192a;
	font-size:28px;
	font-family: myriadpro-regular;
}
.touch-section .sl-two input.btn.btn-lg, .touch-section .sl-two input.btn.btn-lg:focus{
	background-color: #fff;
	width: 50%;
}
.touch-section .sl-two button.btn{
	width: 25%;
}
.touch-section .follow-sec{
	padding-top: 50px;
}
.touch-section .follow-sec h1{
	font-size: 28px;
	font-family: myriadpro-regular;
	color: #1aa31e; 
}
.follow-sec ul{
	list-style: none;
	padding-left: 0px;
}
.follow-sec ul li{
	display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 6px;
    margin: 3px;
    border-radius: 100%;
    transition: all 0.3s ease;
}
.follow-sec ul li a{
	color: #ccc;
	font-size: 20px;
}
.follow-sec ul li:hover{
	background-color:#1aa31e;
	border-color: #1aa31e;
	 transition: all 0.3s ease;
}
.follow-sec ul li:hover a{
	color: #fff;
}

@media(max-width: 600px){
.touch-section .sl-two button.btn {
    width: 39%;
}
}
@media(min-width:1439px){
.wlcm-div .pd-right img {
    width: 93%;
    float: right;
}
}
@media(min-width:992px)and (max-width:1200px){
  .gd2 figure{
  max-height: 175px!important;
  }
}


/****single-blog*****/
body.single-blog .sec-back {
    background-color: #f6f6f6;
}
body.single-blog .sec-back h2.tag-line{
	font-family: myriadpro-bold;
	text-transform: uppercase;
	color: #1b192a;
}
body.single-blog .sec-back h5{
	color: #393939;
	font-size: 18px;
	font-family: myriadpro-regular;
}
.article-tags, .share{
	display: inline-block;
}
.share{
	float: right;
	padding-top:45px;
}
.blog-content-single p{
	color: #393939;
	font-family: myriadpro-regular;
	font-size: 20px;
	margin-bottom:30px;
}
.blog-content-single{
	padding-top: 50px;
	padding-bottom: 50px;
}
.blog-content-single p i{
	font-weight: bold;
}
.blog-divsection{
	width: 650px;
	margin: 0px auto;
}
.blog-divsection .lslide img {
    border: 10px solid #fff;
}
.blog-divsection .demo:before,
.blog-divsection .demo:after{
	background-color:#fff;
}


/******404-css*****/
.not-found{
	background-color: #fff;
	padding-top: 100px;
	padding-bottom:150px;
}
.not-found h2{
	margin-bottom: 40px;
	font-family: myriadpro-bold;
	text-transform: capitalize;
}
.back-found{
	background-color: #303030;
    color: #fff;
    padding: 7px 24px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}
.back-found:hover{
	color: #fff;
	background-color:#1aa31e;
	text-decoration: none;
}
.search-list .fl{
	padding-bottom: 150px;
}
.page-header
{
	margin: 0px !important;
}
.logo
{
	max-width: 100% !important;
}
.navbar-header .nav-toggle {
	display: none !important;
}
body.cms-home #maincontent
{
	display: none !important;
}
.minicart-wrapper.active .block-minicart
{
	z-index: 999999;
}
body.catalog-category-view .sidebar.sidebar-main, body.catalog-category-view .sidebar.sidebar-additional
{
	display: none !important;
}
.page-layout-2columns-left .column.main
{
	width:100% !important;
}
.catalog-category-view .page-wrapper, .catalog-category-view .page-products .columns, .catalog-category-view .sec-back, .catalog-category-view  .page-main
{
	background:#f6f6f6 !important;
}
.catalog-category-view .magzine-sec
{
	background:#fff !important;
}

.catalog-product-view .page-wrapper, .catalog-product-view .page-products .columns, .catalog-product-view .sec-back, .catalog-product-view  .page-main
{
	background:#f6f6f6 !important;
}
.catalog-product-view .magzine-sec
{
	background:#fff !important;
}